<section class="section">
    <h1 class="title is-1 has-text-centered has-text-black">Aufgaben Liste</h1>

    <div id="zeiterfassung" class="mb-4">00:00:00</div>

    <div class="buttons">
        <button type="button" class="button is-family-primary is-medium" onclick="start()">Start</button>
        <button type="button" class="button is-family-primary is-medium" onclick="pause()">Pause</button>
    </div>

    <div>
        <form asp-controller="Feedback" asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="field">
                <label class="label has-text-black">Aufgabe</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="Aufgabe" value="nicht erledigt" checked>
                        nicht erledigt
                    </label>
                    <label class="radio">
                        <input type="radio" name="Aufgabe" value="erledigt">
                        erledigt
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-black">Datei hochladen</label>
                <div id="file-js-example" class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-label">Choose a file…</span>
                        </span>
                        <span class="file-name">No file selected</span>
                    </label>
                </div>
            </div>
            
        </form>
        <button id="permissions-button">Zugriff erlauben</button>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="start-button">Capture photo</button>
        </div>
        <div class="field">
            <canvas id="canvas"></canvas>
            <div class="output">
                <img id="photo" alt="The screen capture will appear in this box." />
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="button" class="button is-family-primary is-medium" onclick="ende()">Ende</button>
    </div>
</section>
